body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    min-height: 300px;
}

.game-options {
    margin-right: 20px;
}

.game-info {
    margin-left: 20px;
}

@media screen and (max-width: 500px) {
    .game {
        flex-direction: column !important;
        min-height: 600px !important;
    }
}

.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}

.flex-container {
    margin: 0 15px;
}

.flex-container .inline {
    width: 80px !important;
    margin: 9px 9px 9px 0;
}

.flex-container .small {
    height: 20px !important;
    line-height: 20px !important;
}

.sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
}

.placeholder {
    background-color: #ebebef;
    color: #bbb;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100%;
}